.footer{
    min-height: 3rem;
    text-align: center;
    width: 100%;
    background-color:var(--secondary);
    color: black;
    padding: auto;
    font-weight: bolder;
    text-align: center;
    margin: 0 auto;
}
