
.hero{
    margin-top: 2vh;
    min-height: 100%;
    text-align: center;
    width: 100%;
    padding: 50px;
    background-color:var(--primary);
}


.avtar{
    margin-top: 2vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 50%;
    border: 5px solid rgb(255, 119, 0);
    animation-name: avtar;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes avtar{
    0%   {border:5px solid rgb(226, 92, 30);}
    25%  {border:5px solid rgb(255, 129, 44);}
    50%  {border:5px solid rgb(222, 233, 9);}
    100% {border:5px solid rgb(226, 92, 30);}
}
@keyframes span{
    0%   {color: rgb(247, 250, 92);}
    25%  {color: rgb(255, 145, 0);}
    50%  {color: rgb(190, 98, 11);}
    75% {color: rgb(243, 205, 18);}
    100% {color: rgb(247, 250, 92);}
}
span {
    color:var(--secondary);
    animation-name: span;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

.icon-container{
    margin-top:2rem;
    color: var(--secondary);
    font-size: 2.5rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;

}
span .js-logo{
    color: yellow;
}

.icons{
    color: var(--secondary);
    background-color: black;
    padding: 0.5rem;
    
}
.icons:hover{
    color: yellow;
    background-color: black;
}

@media (max-width: 952px){
    
    .avtar{
        width: 40%;
    }
}@media (max-width: 858px){
    
    .avtar{
        width: 40%;
    }
}
@media (max-width: 750px){
    
    .avtar{
        width: 80%;
    }
}
